[submodule "PreBuiltImages/platforms/rpi4"]
	path = PreBuiltImages/platforms/rpi4
	url = https://github.com/bao-project/bao-demos.git
[submodule "PreBuiltImages/firmware/rpi4/firmware"]
	path = PreBuiltImages/firmware/rpi4/firmware
	url = https://github.com/raspberrypi/firmware.git
	branch = 1.20210201
[submodule "bao-hypervisor"]
	path = bao-hypervisor
	url = git@github.com:bao-project/bao-hypervisor.git
	branch = demo
[submodule "bao-memThrott"]
	path = bao-memThrott
	url = https://github.com/AFOliveira/bao-hypervisor-mem-throttling.git
[submodule "bao-MemThrott"]
	path = bao-MemThrott
	url = https://github.com/AFOliveira/bao-hypervisor-mem-throttling.git
